<div class="wrapper">
  <h1>O aplikaciji</h1>
  <p>
    Ova aplikacija je <strong>prototip digitalnog šaltera bioskopa</strong>.
  </p>
  <p>
    Omogućava <strong>pretragu i rezervaciju karata</strong>, pregled filmova,
    projekcija i recenzija, kao i <strong>ocenjivanje filmova</strong> koje ste
    gledali.
  </p>
  <p>
    Aplikacija je razvijena u okviru kursa
    <em>Klijentske veb aplikacije</em>.
  </p>
  <p>Korišćene biblioteke:</p>
  <ul>
    <li>Angular 19</li>
    <li>Angular Material</li>
    <li>Axios</li>
  </ul>
  <p>
    Izvorni kod dostupan je na
    
  </p>
</div>

