<mat-card class="auth-card">
  <mat-card-header>
    <h1>Prijava</h1>
  </mat-card-header>

  <mat-card-content>
    <mat-form-field class="full-width">
      <mat-label>Email</mat-label>
      <input type="email" matInput [(ngModel)]="email" placeholder="Unesite email" />
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Lozinka</mat-label>
      <input type="password" matInput [(ngModel)]="password" placeholder="Unesite lozinku" />
    </mat-form-field>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button color="primary" (click)="doLogin()">Login</button>
    <a mat-button routerLink="/signup">Nemam nalog</a>
  </mat-card-actions>
</mat-card>


