<div class="movie-grid">
  <mat-card *ngFor="let movie of movies" class="movie-card">
    
    <img
      class="poster"
      [src]="movie.posterUrl"
      [alt]="movie.title"
      (error)="onImgError($event)"
    />

    <mat-card-content>
      <h3>{{ movie.title }}</h3>
      <p>{{ movie.genre }}</p>
      <p>Trajanje: {{ movie.duration }} min</p>
    </mat-card-content>

    <mat-card-actions>
      <a mat-button color="primary" [routerLink]="['/details', movie.id]">
        Detalji
      </a>
    </mat-card-actions>
  </mat-card>
</div>

